.body{
    background-color: rgb(185, 209, 201);
    }
    
.podcast{
    display: flex; 
    flex-direction: row;
}

.texto{
    margin-left: 50px;
    font-family: 'Alkalami', serif;
    font-size: x-large;
}

.imagem{
    margin-top: 50px;
    margin-left: 20px;
}

.audio{
    width: 500px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.linha{
    border: 3px solid black;
    margin: 30px;
    border-radius: 10px;
}